# 3rd-party dependencies
node_modules

# Logs
logs/*
*.log

# Settings and Configurations
.env
.idea
.*/
!.github/

# Test runners
coverage
.nyc_output

# .DS_Store
**/.DS_Store
docs

test/schemas/*.json
dist
zed_cst.d.ts
